body {
    background-color: rgba(33, 35, 39, 0.726);
    color: rgb(150, 196, 233);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

canvas {
    border: 2px solid rgb(223, 211, 211);
    background-color: rgba(0, 0, 0, 0.726);
    margin-top: 20px;
}

pre {
    background-color: rgba(0, 0, 0, 0.726);
    padding: 10px;
    border: 1px solid rgba(213, 240, 248, 0.726);
    border-radius: 5px;
    overflow-x: auto;
    width: 53%;
    text-align: left;
    white-space: pre-wrap; /* Permite que el texto se ajuste a múltiples líneas si es largo */
    overflow-x: auto; /* Permite el desplazamiento horizontal si el código es demasiado largo */
    margin: 0 auto; /* Centra horizontalmente */
}

code {
    color: #5875f8;
    font-family: monospace;  
}

a{
    color: rgb(143, 186, 221);
}

section {
    margin-bottom: 5px;
    border-radius: 5px;
}